<div style="background-color:#FFD382;font-family:Microsoft JhengHei;padding:10px;"  align="center" margin"auto" >
<h1>個人資訊</h1>

<img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/17630097_1324940297542577_4591318666428216903_n.jpg?_nc_cat=0&oh=2a7d0a1fcd34b9c2e0cb78a021f389f8&oe=5B98ACBC" width="30%" style="border:5px white solid;box-shadow:1px 1px 5px #999" >

{% for r in info %}
<h2>{{ r.name }}</h2>	
<p>生日：{{ r.birthday }}</p>
<p>年齡：{{ r.age }}</p>
{% endfor %}
<p style="width:650px">嗨！我是楊舒媛，平常的興趣是跳舞、看展覽、認識朋友。很開心今年有機會修到老師的網頁製作課，聽台科資管的朋友們都說是一門非常熱門的課，自己竟然有幸選上～而且分組還與一位設計系的同學一組，非常期待我們最後的成品！</p>

</div>